.Nav{
    background-color: rgb(216, 48, 48);
    top: 0%;
    padding-top: 10px;
    padding-bottom: 10px;
    position: fixed;
    top: 0%;
    right: 0%;
    left: 0%;
    display: flex;
    align-items: center;
    flex-direction: row;
    text-align: center;
    z-index: 2;
}
.NavLogo{
    margin-left: 10px;
    justify-self: left;
    margin-right: auto;
}
.NavItem{
    justify-self: right;
    margin-right: 3.2%;
}
.NavPerfil{
    display: flex;
    margin-right: 10px;
    border-radius: 50%;
    height: 48px;
    width: 48px;
    padding: 2px;
    background-color: white;
    justify-content: center;
    align-items: center;
}
.NavPerfil a{
    display: flex;
    margin: 0px;
    padding: 0px;
}

.NavPerfil img{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    cursor: pointer;
}
.Ocult{
    display: none;
}
.PetCareLogo{
    max-width: 60px;
    margin-left: 10px;
    margin-right: 10px;
}
